# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*~
*.swp

# C extensions
*.so

# Java
\.class$
^.settings

# emacs saved files 
*.py~
*.~

# Distribution / packaging
.Python
.metadata/
.recommenders/
env/
bin/
build/
develop-eggs/
.ipynb_checkpoints/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
models/test_data/id_to_features.txt
models/test_data/id_to_labels.txt
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
/bin/

# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/
